<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BookMarks</title>
<style>
td {
	padding-left: 10px;
	padding-right: 10px;
}
</style>
</head>
<body>
	<h1>즐겨찾기</h1>
	<table>
		<thead>
			<tr>
				<th>이름</th>
				<th>계좌번호</th>
				<th>내 아이디</th>
				<th>수정</th>
				<th>삭제</th>
				<th>송금</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="bookMark : ${bookMarks}">
				<td th:text="${bookMark.bookMarkName}"></td>
				<td th:text="${bookMark.bookMarkAccountNumber}"></td>
				<td th:text="${bookMark.user != null ? bookMark.user.userid : ''}"></td>
				<td><a th:href="@{/bookmarks/edit/{id}(id=${bookMark.id})}">수정</a></td>
				<td><a th:href="@{/bookmarks/delete/{id}(id=${bookMark.id})}">삭제</a></td>
				<td><a
					th:href="@{/transfer/{recepientAccountNumber}(recepientAccountNumber=${bookMark.bookMarkAccountNumber})}">송금</a></td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/bookmarks/create}">즐겨찾기 추가</a>
	<a th:href="@{/users/main}">메인으로 돌아가기</a>
</body>
</html>
