<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BookMarks</title>
</head>
<body>
	<h1>BookMarks</h1>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Bank Number</th>
				<th>myid</th>
				<th>myname</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="bookMark : ${bookMarks}">

				<td th:text="${bookMark.name}"></td>
				<td th:text="${bookMark.banknumber}"></td>
 				<td th:text="${bookMark.user.userid}"></td>
 				<td th:text="${bookMark.user.username}"></td>

			</tr>

		</tbody>
	</table>
</body>
</html>
