<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html :: head">
<meta charset="UTF-8">
<title>송금(즐겨찾기)</title>
</head>
<body style="background-color: #000000">
	<form action="#"
		th:action="@{/bookmarks/transferbookmark}" th:object="${Log}"
		method="post"
		>
		<div>
			<input type="hidden" id="recipient_name" th:field="*{recipient_name}" />
		</div>

		<div>
			</label> <input type="hidden" id="recipient_banknumber"
				th:field="*{recipient_banknumber}" />
		</div>

		<div class="p-4 text-center">
			<h2 style="font-size:60px; color:yellow;">송금</h2>
		</div>

		<div class="mb-3">
			<label for="my_banknumber" class="form-label" style="font-size:60px; color:yellow;">본인 계좌번호:</label> <select
				class="form-select" aria-label="Floating label select example"
				id="my_banknumber" name="sender_banknumber"
				th:field="*{sender_banknumber}" style="font-size:60px; border-color:yellow; background-color: black; color: yellow">
				<option th:each="bankAccount : ${Log.user.bankAccounts}"
					th:value="${bankAccount.accountNumber}"
					th:text="${bankAccount.accountNumber}" style= "border-color: yellow; background-color: yellow"></option>
			</select>
		</div>


		<div class="mb-3">
			<label for="amount" class="form-label" style="font-size:60px; color:yellow;">송금액:</label> <input
				type="text" class="form-control" id="amount" th:field="*{amount}"
				maxlength="20" style="font-size:60px; border-color:yellow; background-color: black; color: yellow">
		</div>


		<div>
			<label for="account_password" style="font-size:60px; color:yellow;">계좌 비밀번호:</label> <input type="text"
				id="account_password" class="form-control" style="font-size:60px; border-color:yellow; background-color: black; color: yellow"
				th:field="*{account_password}" />



		</div>

		<div>
			<input type="hidden" id="category" th:field="*{category}"
				th:value="송금" />
		</div>


		<div class="frame">
			<button type="submit" style="font-size:60px; color:yellow; border-color:yellow; background-color:black;">
				<span>송금</span>
			</button>
		</div>


		<div th:if="${errorMessage}" style="color: red;">
			<p th:text="${errorMessage}"></p>
		</div>

	</form>

</body>
</html>
