<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>News List</title>
<style>
/* CSS 스타일은 필요에 따라 추가하세요 */
</style>
</head>
<body>
	<h1>News</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Content</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="news : ${newsList}">
				<td th:text="${news.id}"></td>
				<td th:text="${news.title}"></td>
				<td th:text="${news.content}"></td>
				<td th:text="${news.date}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
