<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User List</title>
</head>
<body>
	<h1>User List</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Username</th>
				<th>Email</th>
				<th>Password</th>
				<th>Phone</th>
				<th>Address</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${users}">
			
				<td th:text="${user.id}"></td>
				<td th:text="${user.username}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.password}"></td>
				<td th:text="${user.phone}"></td>
				<td th:text="${user.address}"></td>
				<td>
				
<!-- 				<a th:href="@{/users/{id}(id=${user.id})/edit}">Edit</a> 
 -->				<a th:href="@{/users/edit/{id}(id=${user.id})}">Edit</a> 
 					<a th:href="@{/users/delete/{id}(id=${user.id})}">Delete</a></td>
			</tr>

		</tbody>
	</table>
	<a href="/users/new">Add New User</a>
</body>
</html>