<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Button</title>
<style>
.button-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 10px;
}
</style>
</head>
<body>
	<h1>메인</h1>

	<div class="button-container">
		<a th:href="@{/transfer}">
			<button style="width: 100%; height: 100%;">송금</button>
		</a> <a th:href="@{/bookmarks}">
			<button style="width: 100%; height: 100%;">즐겨찾기</button>
		</a> <a th:href="@{/account}">
			<button style="width: 100%; height: 100%;">계좌조회</button>
		</a> <a th:href="@{/news}" style="grid-column: 2; grid-row: 2;">뉴스</a>
	</div>

	<a th:href="@{/logout}">로그아웃</a>

</body>
</html>
