<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User List</title>
</head>
<body>
	<h1>User List</h1>
	<table>

		<tbody>
			<form action="#" th:action="@{/users/new}" th:object="${user}"
				method="post">

				<div>
					<label for="username">Name:</label> <input type="text"
						id="username" th:field="*{username}" />
				</div>
				<div>
					<label for="userid">userid:</label> <input type="text" id="userid"
						th:field="*{userid}" />
				</div>
				<div>
					<label for="password">Password:</label> <input type="password"
						id="password" th:field="*{password}" />
				</div>
				<div>
					<label for="phone">Phone:</label> <input type="text" id="phone"
						th:field="*{phone}" />
				</div>
				<div>
					<label for="address">Address:</label> <input type="text"
						id="address" th:field="*{address}" />
				</div>
				
				<div>
					<label for="account_password">account_password:</label> <input
						type="text" id="account_password" th:field="*{account_password}" />
				</div>

				<div>
					<label for="disabled">Disabled:</label> <input type="radio"
						id="disabled" name="disabled" th:checked="${user.disabled}"
						th:onclick="toggleDisabled()" />
				</div>
				

				<script th:inline="javascript">
					function toggleDisabled() {
						var radio = document.getElementById("disabled");
						if (radio.checked)
							radio.value = "1";
						else
							radio.value = "0";
					}
				</script>



				<div>
					<label for="disabled">abled:</label> <input type="radio"
						id="disabled2" name="disabled" th:checked="${user.disabled}"
						th:onclick="toggleDisabled2()" />
				</div>

				<script th:inline="javascript">
					function toggleDisabled2() {
						var radio = document.getElementById("disabled2");
						if (radio.checked)
							radio.value = "0";
						else
							radio.value = "1";
					}
				</script>


				<div>
					<button type="submit">Submit</button>
				</div>


			</form>

		</tbody>
	</table>
</body>
</html>