<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Bootstrap CSS -->
<link href="/css/button.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<meta charset="UTF-8">
<title>User List</title>
</head>
<body>
	<div class="container">
		<div class="input-form-backgroud row">
			<div class="input-form col-md-10 mx-auto">
				<h4 class="mb-3">회원가입</h4>
				
				<form action="#" th:action="@{/users/new}" th:object="${user}"
					method="post" class="validation-form" novalidate>
					<div class="row">
						<div class="col-md-6">
							<label for="username">이름</label> <input type="text"
								class="form-control" id="username" th:field="*{username}"
								required>
							<div class="invalid-feedback">이름을 입력해주세요.</div>
						</div>
						<div class="col-md-6">
							<label for="userid">아이디</label> <input type="text"
								class="form-control" id="userid" th:field="*{userid}" required>
							<div class="invalid-feedback">아이디를 입력해주세요.</div>
						</div>
					</div>

					<div>
						<label for="account_password">account_password:</label> <input
							type="text" id="account_password" th:field="*{account_password}" />
					</div>

					<div class="mb-3">
						<label for="password">비밀번호</label> <input type="password"
							class="form-control" id="password" th:field="*{password}"
							required>
						<div class="invalid-feedback">비밀번호를 입력해주세요.</div>
					</div>
					<div class="mb-3">
						<label for="phone">전화번호</label> <input type="text"
							class="form-control" id="phone" th:field="*{phone}" required>
						<div class="invalid-feedback">전화번호를 입력해주세요.</div>
					</div>

					<div class="mb-3">
						<label for="address">주소</label> <input type="text"
							class="form-control" id="address" th:field="*{address}" required>
						<div class="invalid-feedback">주소를 입력해주세요.</div>
					</div>
					<h6 class="mb-3">장애여부 확인</h6>
					<hr class="mb-4">

					<div class="custom-control custom-radio">
						<input type="radio" class="custom-control-input" id="disabled"
							required th:checked="${user.disabled}"
							th:onclick="toggleDisabled()" name="disabled"> <label
							class="custom-control-label" for="disabled"> 장애</label>
					</div>
					<script th:inline="javascript">
						function toggleDisabled() {
							var radio = document.getElementById("disabled");
							if (radio.checked)
								radio.value = "1";
							else
								radio.value = "0";
						}
					</script>

					<div class="custom-control custom-radio">
						<input type="radio" class="custom-control-input" id="disabled2"
							required th:checked="${user.disabled}"
							th:onclick="toggleDisabled2()" name="disabled"> <label
							class="custom-control-label" for="disabled2"> 비장애</label>
					</div>

					<script th:inline="javascript">
						function toggleDisabled2() {
							var radio = document.getElementById("disabled2");
							if (radio.checked)
								radio.value = "0";
							else
								radio.value = "1";
						}
					</script>

					<div class="mb-4"></div>
					<button class="custom-btn btn-3" type="submit">
						<span>가입완료</span>
					</button>
				</form>
</body>
</html>