<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User List</title>
<style>
/* 전체 바디 스타일 */
body {
	background-color: #f1f1f1;
	font-family: Arial, sans-serif;
}
/* 가운데 정렬 스타일 */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 350px;
}

/* 제목 스타일 */
h1 {
	color: #000000;
	font-size: 36px;
	text-align: center;
	margin-bottom: 0px;
}
</style>
</head>
<body>
	<div class="container">
		<h1>송금 완료 <br><br> 화면을 닫아주세요</h1>
	</div>
</body>
</html>