.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-container1 {
  flex: 1;
  width: 1400px;
  height: 850px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-white);
  border-style: none;
  border-width: 2px;
  flex-direction: row;
}
.home-container2 {
  top: 167px;
  left: 0px;
  right: 0px;
  width: 1000px;
  height: 600px;
  margin: auto;
  display: block;
  position: fixed;
  margin-top: auto;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
}
.home-container3 {
  top: 188px;
  flex: 0;
  left: 447px;
  width: 700px;
  height: 280px;
  margin: auto;
  display: flex;
  position: fixed;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  flex-direction: column;
}
.home-container4 {
  top: 210px;
  left: 473px;
  width: 650px;
  height: 110px;
  margin: auto;
  display: flex;
  position: fixed;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text {
	display:inline;
  top: 240;
  left: 500;
  position: relative;
  font-size: 40px;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  border-radius: 15px;
  text-transform: uppercase;
  background-color: var(--dl-color-primary-300);
}
.home-text1 {
  top: 245;
  left: 607px;
  position: relative;
  font-size: 30px;
}
.home-text2 {
	display:inline-block;
  top: 245;
  left: 1030;
  position: relative;
  font-size: 30px;
}
.home-container5 {
  top: 337px;
  left: 471px;
  width: 650px;
  height: 110px;
  margin: auto;
  display: flex;
  position: fixed;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  margin-bottom: auto;
  flex-direction: column;
}
.home-text3 {
  top: 370;
  left: 500;
  position: fixed;
  font-size: 40px;
  font-style: normal;
  font-family: Arial;
  font-weight: 500;
  border-radius: 15px;
  text-transform: uppercase;
  background-color: var(--dl-color-primary-300);
}
.home-text6 {
  top: 375;
  left: 1030;
  position: fixed;
  font-size: 30px;
}
.home-container6 {
  flex: 0;
  left: 0px;
  right: 0px;
  width: 1000px;
  bottom: 109px;
  height: 100px;
  margin: auto;
  display: flex;
  position: fixed;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
}
.home-button {
  left: 500;
  width: 237px;
  bottom: 125;
  margin: auto;
  position: fixed;
  font-size: 40px;
  text-align: center;
  border-radius: 15px;
}
.home-button1 {
  left: 850;
  width: 237px;
  bottom: 125;
  margin: auto;
  position: fixed;
  font-size: 40px;
  text-align: center;
  border-radius: 15px;
}
