<style>

:root {
  -accent-color: #f3ff87;
  -text-color: #f0f4f5;
  -background-color: #0b002b;}

.body {
  margin: 0;
  font-family: 'Lato', sans-serif;}

a {
  text-decoration: none;
  color: #f0f4f5;}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  padding: 16px 16px;
  border-radius: 12px;}

.nav_logo {
  font-size: 32px;
  color: #f0f4f5;}

.nav_logo i {
  color: #f0f4f5;}

.nav_logo span {
  color: #f0f4f5;}

.nav_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-family: 'Lato', sans-serif;
  	font-weight: 500;
  	font-size: 30px;
	}

.nav_menu li {
  padding: 12px 40px;}

.nav_menu li:hover {
  color: #0b002b;
  background-color:rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  border-radius: 4px;}

.nav_menu li a:hover {
  color: #0b002b;}

.nav_icons {
  display: flex;
  color: #7dc0ff;
  list-style: none;
  padding-left: 0;}

.nav_icons li {
  padding: 8px 5px;}

.navbar_toggleBtn {
  display: none;
  color:#f0f4f5;
  position: absolute;
  right: 32px;
  font-size: 24px;
  }
  
</style>